{% extends "boutique/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Flash Messages -->
{% if messages %}
  <div class="container mx-auto my-4">
    {% for message in messages %}
      <div class="relative p-4 rounded-md mb-4
          {% if message.tags == 'success' %}
            bg-green-100 text-green-800
          {% elif message.tags == 'error' %}
            bg-red-100 text-red-800
          {% endif %}" id="message-{{ forloop.counter }}">
        
        <button class="absolute top-2 right-2 text-lg text-gray-500 hover:text-gray-700" onclick="closeMessage({{ forloop.counter }})">
          &times;
        </button>


        {{ message }}
      </div>

      <!-- Timer to Auto-Close the message after 2 seconds -->
      <script>
        setTimeout(function() {
          document.getElementById('message-{{ forloop.counter }}').style.display = 'none';
        }, 2000);  // 2000ms = 2 seconds
      </script>
    {% endfor %}
  </div>
{% endif %}


<!-- Review Form -->
<h2 class="text-gray-700 text-2xl mb-4 text-center">Leave your Reviews and Feedback!</h2>

<form method="POST" class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-lg space-y-4">
    {% csrf_token %}
    
    {% for field in review_form %}
        <div>
            <label class="block text-gray-700 font-medium">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <p class="text-red-500 text-sm mt-1">{{ field.errors.0 }}</p>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit" class="w-full bg-red-400 text-white py-2 px-4 rounded hover:bg-red-500 transition">
        Submit Review
    </button>
</form>


{% endblock content %}
